version: '3.9'

services:
  api:
    image: porto_api:latest
    build: .
    container_name: porto_api
    env_file:
      - .env
    ports:
      - '3000:3000'
    depends_on:
      - db
    volumes:
      - /home/ahmadfauzaan/shared/assets:/app/uploads
    restart: unless-stopped

  db:
    image: postgres:16
    container_name: porto_db
    env_file:
      - .env
    volumes:
      - postgres_data:/var/lib/postgresql/data
    healthcheck:
      test: ['CMD-SHELL', 'pg_isready -U ${POSTGRES_USER}']
      interval: 5s
      timeout: 5s
      retries: 5
    restart: unless-stopped

volumes:
  postgres_data:
