version: '3.9'

services:
  api:
    build: .
    container_name: porto_api
    env_file:
      - .env
    ports:
      - '3000:3000'
    depends_on:
      - db
    volumes:
      - /home/ahmadfauzaan/shared/assets:/app/uploads
    restart: unless-stopped

  db:
    image: postgres:16
    container_name: porto_db
    environment:
      POSTGRES_DB: porto_db
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: password
    volumes:
      - postgres_data:/var/lib/postgresql/data
    ports:
      - '5432:5432'
    restart: unless-stopped

volumes:
  postgres_data:
    external: true
    name: daf3f0654cb16896f67402c35404dd42e69076a397a41b71cb0027c5f2f552eb
